build/*
*.classpath
*.*~
*.project
*.class
*.directory
bin/**
.gradle/**
.settings/**
.idea/**
out/**
*.iml
*.ipr
*.iws
target/**
target-eclipse/**
.classpath
.settings
stacktrace.log
projectFilesBackup/**
node_modules
bower_components
