<div class="hero-unit">
    <h1 class="text-center">Power Dial</h1>
</div>

<div class="col8 offset2 clearfix">
    <input type="text" id="pd-search" class="span8" placeholder="Search something">
</div>
<div class="col1 offset6" id="spinner" style="display: none;">
    <img src="images/spinner.gif"/>
</div>

<hr/>
