<div class="hero-unit text-center">
    <h1>Power Dial</h1>
    <h3>JustDial on Steroids</h3>
</div>

<div class="col8 offset2 clearfix">
    <div class="col6">
        <input type="text" id="pd-search" class="span6" placeholder="Search something">
        <select class="span2" id="pd-lang">
            <option value="en">English</option>
            <option value="hi">Hindi</option>
        </select>
    </div>

</div>


<div class="col1 offset6" id="spinner" style="display: none;">
    <img src="images/spinner.gif"/>
</div>

<hr/>
